<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
        <body>
            <div class="container mt-5">
                <h1 class="alert alert-success text-center">
                    *SENDING MAIL...*
                </h1>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <form method="post" action=" " enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="number" name="Std_id" class="form-control mt-3" placeholder="Std_id">
                            <input type="text" name="Name" class="form-control mt-3" placeholder="Name">
                            <input type="text" name="Course" class="form-control mt-3" placeholder="Course">
                            <input type="email" name="Email" class="form-control mt-3" placeholder="Email">
                            <button type="submit" class="btn btn-success mt-3 w-100">Send mail...</button>
                        </form>    
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </body>
        </html>
    

